
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

.one{
   
position: absolute;
width: 4096px;
height: 2160px;

background: linear-gradient(0.81deg, #39E5A6 -19.94%, rgba(138, 214, 255, 0.992157) 39.01%);

}
.header{


position: relative;
height: 218px;

background: #C3FFFE;
border-radius: 2px;

}
.image1{
position: absolute;
width: 173px;
height: 179px;
left: 51px;
top: 20px;

}
.texth{
position: absolute;
width: 1500px;
height: 79px;
left: 1390px;
top: 70px;

font-family: 'Prosto One';
font-style: normal;
font-weight: 300;
font-size: 50px;
line-height: 79px;
color: rgba(0, 0, 0, 0.57);
}

.Rectangle{

height: 218px;
left: 0px;
top: 0px;

background: #C3FFFE;
box-shadow: 0px 8px 70.9px 11px rgba(0, 0, 0, 0.25);
}

.obl{

width: 3789px;
height: 548px;

filter: blur(6px);

}
.dorogi{
left: 0px;
top: 218px;
position: absolute;
width: 4092.01px;
height: 1946px;
}

.water{
margin-left: 0px;
margin-top: 850px;
}

.pig{
position: absolute;
width: 92px;
height: 122px;
filter: blur(2.95px);
left: 1370px;
top: 1580px;
}
/* Rectangle 28 */
.duk{
position: absolute;
width: 218px;
height: 218px;
left: 2260px;
top: 1900px;

filter: blur(3.5px);
transform: rotate(2.98deg);
}
.duk2{
position: absolute;
width: 218px;
height: 218px;
left: 2608px;
top: 1830px;
filter: blur(3.5px);
transform: rotate(-14.25deg);
}
.duk3{
position: absolute;
width: 218px;
height: 218px;
left: 2992px;
top: 1700px;
filter: blur(3.5px);
transform: rotate(-15.3deg);
}
.round {
     position: absolute;
width: 170px;
height: 170px;
border: 10px solid #FFFFFF;
border-radius: 200px;
display: flex;
justify-content: center;
align-items: center;
}
.round img{
    width: 110px;
    height: 110px;
}
.absolute {
    position: absolute;
}
.green{
    background: #3AD85C;
}
.yellow{
    background: #FFC444;
}
.blue{
    background: #5344FF;
}
.purple{
    background: #B737E6;
}
.pink{
    background: #FF44F3;
}
.red{
    background: #FF4444;
}
