@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Jaro:opsz@6..72&display=swap');

html {
    width: 4096px;
    height: 2160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #FFF4E7;
}

.cont1 {
width: 3924px;
height: 1836px;
left: 80px;
top: 162px;

box-shadow: inset 0px 63px 80px rgba(0, 0, 0, 0.14);
border-radius: 100px;

display: flex;
justify-content: center;
align-items: center;
gap: 47px;
border: 10px solid rgb(0, 0, 0, 0.2);
}

.yellow {
    background: #e6ae2a;
}

.red {
    background: #f53b3b;
}

.blue {
    background: #3b4ef5;
}

.green {
    background: #35c552;
}

.pink {
    background: #f53bd3;
}

.purple {
    background: #d33bf5;
}

.maincont {
width: 3504px;
height: 1700px;
left: 210px;
top: 68px;

background: rgba(255, 231, 185, 0.35);
border-radius: 100px;
border: 10px solid rgba(255, 255, 255, 0.55);
}

.button {
box-sizing: border-box;

position: relative;
width: 116px;
height: 485px;

border: 10px solid rgba(255, 255, 255, 0.55);
border-radius: 30px;

font-family: "Jaro", sans-serif;

display: flex;
justify-content: center;
align-items: center;
}

a {
text-decoration: none;
}

.backnforward {
    font-size: 120px;
    color: #FFF4E7;
}

/*header*/

header {
    padding: 40px 80px;
    height: 200px;
    display: flex;
    gap: 80px;
}

header h1 {
    color: #FFF4E7;
    font-family: "Jaro", sans-serif;
font-weight: 800;
font-size: 80px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #FFF4E7;
}

.line2 {
    margin-left: 80px;
    width: 45%;
    height: 2px;
    background-color: #FFF4E7;
}

/*main*/

.years {
    display: grid;
    align-content: center;
    grid-template-columns: 630px 630px 630px 630px;
    grid-template-rows: 270px 270px;
    margin: 20px 450px;
    gap: 30px;
}

.year {
    width: 525px;
    height: 209px;

    margin: 30px;

    border-radius: 50px;
    border: 10px solid rgba(255, 255, 255, 0.55);

    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
font-family: "Archivo Black", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 80px;
line-height: 126px;

color: #FFFFFF;
}

.textcompany {
height: 320px;
}

.textcompany p {
font-family: "Bebas Neue", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 54px;
text-align: center;

color: #FFFFFF;
}

.textexcurs {
    width: 50%;
    height: 1240px;
    margin-left: 80px;
}

.textexcurs p {
    text-align: left;
    font-size: 40px;
}

.pictures {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    align-items: center;  
    justify-content: center;                       
}

.pictures img {
    height: auto;
}

.excurs {
    display: flex;
    gap: 50px;
}

/*footer*/

.buttonback {
width: 473px;
height: 122px;

border: 10px solid rgba(255, 255, 255, 0.55);
border-radius: 30px;
display: flex;
align-items: center;
justify-content: center;
}

.buttonback h3 {
font-family: "Jaro", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 101px;

color: #FFFFFF;
}

.footer {
    height: 350px;
    margin: 0px 0px 0px 160px;
    display: flex;
    gap: 150px;
    align-items: end;
}

.foot {
    height: 150px;
    margin: 0px 0px 0px 160px;
    display: flex;
    gap: 150px;
    align-items: start;
}

.professions {
    display: flex;
    gap: 50px;
}

.profession {
    padding: 10px 70px;
height: 128px;

border-radius: 80px;
display: flex;
align-items: center;
justify-content: center;
}

.profession p {
font-family: "Bebas Neue", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 80px;
line-height: 126px;

color: #FFFFFF;
}